.git
.github
.vscode
/node_modules
.eslintrc
.eslintignore
.editorconfig
.lintstagedrc.json
.prettierrc
.prettierignore
jest.config.js
/test
Dockerfile
docker-compose.yml
/dist
/docs
.vscode
package-lock.json
yarn.lock
Dockerfile
.env
setup.sh
*.md
**/*.md
